
.popup-container {
    /* display: flex; */
    /* flex-direction: row;
    position: relative;
    top: 50px;
    bottom: 20px;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgba(191, 195, 216, 0.812);
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ffff; */
    display:none;
    background-color: #d0c6c6c6;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
}

.popup-img {
    max-width: 100%;
    padding-top: 5px;
}

.popup-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}
#close{
    text-align: center;
    float: right;
    color: rgb(69, 64, 64);
    border: none;
    font-size: small;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}
.container{
    display: block;

}
.background{
    background-color:transparent;
    width: 100%;
    position: fixed;
    height: 70%;


}