
.popup-container {
  
    display:none;
    background-color: #2f2c2cc6;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
}

.popup-img {
    max-width: 100%;
    padding-top: 5px;
}

.popup-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}
#close{
    text-align: center;
    float: right;
    color: rgb(69, 64, 64);
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}
.container{
    display: block;

}
.background{
    background-color:transparent;
    width: 100%;
    position: fixed;
    height: 70%;


}

@media (max-width: 768px){
    .popup-container{
        width: 250px;
    }
}